/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.compare-tool {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

/* Comparison table styles */
.compare-container {
  margin-top: 40px;
}

.comparison-table {
  display: flex;
  flex-direction: column;
  overflow-x: auto;  
}

.table-header {
  display: flex;
  font-weight: bold;
  background-color: #f1f1f1;
  padding: 10px;
  flex-wrap: nowrap;
}

.table-header-item-feature {
  width: 150px;
  padding: 10px;
  text-align: left;
}

.table-header-item {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.table-row {
  display: flex;
  border-bottom: 1px solid #ddd;
  flex-wrap: nowrap;  
}

.table-row-header {
  width: 150px;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  background-color: #f9f9f9;
}

.table-row-item {
  flex: 1;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}

/* Alert styles */
.alert {
  background-color: #f44336;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
}

/* Responsive styles */


@media (max-width: 1024px) {
  .comparison-table {
    display: block;
  }

  .table-header {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .table-header-item-feature {
    display: block;
  }

  .table-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;  
  }

  .table-row-header {
    background-color: #f1f1f1;
    padding: 8px;
    font-weight: bold;
  }

  .table-row-item {
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
    font-size: 14px;
  }

  .table-row-item span {
    font-weight: bold;
  }

  /* Ensure horizontal scroll for mobile screens */
  .comparison-table {
    overflow-x: auto;
    white-space: nowrap;
  }

  .table-row-item {
    display: inline-block;
    min-width: 100px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  /* Comparison Table - For mobile screens */
  .table-header {
    display: none; 
  }

  .table-row {
    display: block;
    margin-bottom: 15px;
  }

  .table-row-header {
    
    background-color: #f9f9f9;
    padding: 8px;
    font-weight: bold;
  }

  .table-row-item {
    font-size: 12px;
    padding: 5px;
    text-align: left;
    word-wrap: break-word;
    display: block;
    overflow: hidden;
  }

  .table-row-item span {
    font-weight: bold;
  }

  /* Reduce padding and font size to ensure readability */
  .table-row-header {
    padding: 6px;
  }

  .table-row-item {
    padding: 4px;
    word-wrap: break-word;
  }

  .table-row-item span {
    font-size: 12px;
  }
}
