* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.featured-container {
    padding: 20px;
}

/* Description section */
.features-desciption {
    text-align: center;
    padding: 6rem 20px;
}

.features-desciption h3 {
    font-size: 3.3em;
    font-weight: 100;
}

.features-desciption p {
    width: 700px;
    margin: 30px auto;
    text-align: center;
    font-size: 1.1em;
    color: #555;
    line-height: 1.8;
}

/* Card container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
}

/* Individual card style */
.card {
    background-color: white;
    border-radius: 10px;
    width: 30%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image container */
.image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Card text content */
.card p {
    padding: 16px;
    font-size: 1em;
    color: #595858;
    line-height: 1.5;
}

.card h3 {
    padding: 15px;
    font-size: 1.4em;
    font-weight: 500;
    color: #000000;
}

.card p:last-of-type {
    color: rgb(11, 120, 124);
    font-weight: bold;
}

/* Responsive*/

/* For large screens (desktops and larger tablets) */
@media screen and (max-width: 1200px) {
    .card {
        width: 45%;
    }

    .features-desciption h3 {
        font-size: 2.8em;
    }

    .features-desciption p {
        width: 600px;
    }
}

/* For medium screens (tablets and small desktops) */
@media screen and (max-width: 768px) {
    .card {
        width: 48%;
    }

    .features-desciption h3 {
        font-size: 2.5em;
    }

    .features-desciption p {
        font-size: 1em;
        width: 90%;
    }
}

/* For small screens (mobile devices) */
@media screen and (max-width: 480px) {
    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .features-desciption h3 {
        font-size: 2.2em;
    }

    .features-desciption p {
        font-size: 0.9em;
        width: 90%;
    }
}

/* For extra-small screens (smaller mobile devices) */
@media screen and (max-width: 360px) {
    .features-desciption h3 {
        font-size: 1.8em;
    }

    .features-desciption p {
        font-size: 0.85em;
        width: 90%;
    }
}