* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
/* hero section */
.hero-about-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 75vh;
    width: 90%;
    background-image: url("https://images.pexels.com/photos/13203179/pexels-photo-13203179.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-about-container h1 {
    font-size: 4.5rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* about section */

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 100px auto;
    background: #f9f9f9;
    border-radius: 15px;
    overflow: hidden;
}

.about-image {
    width: 50%;
    height: 100%;
}

.img1 {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.about-content {
    width: 50%;
    padding: 40px;
}

.about-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-content p {
    line-height: 1.8;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #333;
}

/* center */
.center{
    text-align: center;
    font-size: 1.5rem; 
    padding: 10px;
    
}
