/* .favourites-container {
    padding: 40px;
    text-align: center;
}

.favourites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.favourite-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.favourite-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.favourite-card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.favourite-card p {
    font-size: 1.2rem;
    color: #555;
} */
.DeleteIcon {
  position: relative;
  top: -5px;
  left: 310px;
  height: 35px;
  width: 35px;
  background-color: rgb(226, 226, 226);
  border-radius: 50%;
  padding: 7px;
  opacity: 0.8;
}

.DeleteIcon:hover{
    background-color: brown;
}
.fav-status{
    position: absolute;
    margin-top: 45px;
    margin-left: 10px;
}
.fav-status span {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 20px;
}
@media (max-width:576px){
    .DeleteIcon {
        left: 259px;
    
      }
}